<mat-card class="card-style">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>Balanço</th>
        <td class="item-border" mat-cell *matCellDef="let element">Total {{ gainSum - expenseSum | currency: 'BRL' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>