<mat-grid-list cols="4" rowHeight="4rem">
  <mat-grid-tile mat-dialog-title [colspan]="4" [rowspan]="1">
    <div class="gray-bar-large">
      <h2>Registro de Gastos</h2>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="8">
    <mat-dialog-content>
      <form [formGroup]="formRegisterExpenses">
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="description" placeholder="Descrição do gasto" required />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Valor</mat-label>
          <input matInput currencyMask class="example-right-align" formControlName="value" placeholder="0"
            [options]="{ prefix: '', thousands: '', decimal: '.' }" required />
          <span matPrefix>R$&nbsp;</span>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Data do gasto</mat-label>
          <input matInput [matDatepicker]="pickExpenseDate" formControlName="expenseDate" placeholder="Data do Gasto"
            required />
          <mat-datepicker-toggle matSuffix [for]="pickExpenseDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickExpenseDate></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-dialog-content>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-dialog-actions align="end">
      <button mat-button (click)="addExpense()" type="submit" [disabled]="!formRegisterExpenses.valid">
        Registrar
      </button>
    </mat-dialog-actions>
  </mat-grid-tile>
</mat-grid-list>