@import "../../../../../styles/_variaveis.less";

mat-grid-tile {
    background: @background;
    border-radius: @border-radius;
    border-style: @border-style;
}

.gray-background {
    background-color: #E9E9E9;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    padding-left: 15px;

    color: #848684;
}

mat-grid-tile.grid-tile-orders {
    overflow: auto;
}

p {
    font-weight: 900;
    font-size: 22px;

    max-width: 100%;
    text-align: center;

    color: #848684;
}

li {
    width: 11%;
    display: inline-block;
    margin: 1%;
}

button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 16px;

    font-weight: 500;
    font-size: 18px;
    padding: 5px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;

    color: #FFFFFF;
}

.busy-button {
    background-color: #EC4235;
}

.busy-text {
    color: white;
}

mat-icon {
    width: 80px;
    height: 80px;
}

.info-icon{
    position: absolute;
    left: 5px;
    width: 24px;
    height: 24px;
}