<mat-grid-list cols="4" rowHeight="4rem">
  <mat-grid-tile mat-dialog-title [colspan]="4" [rowspan]="1">
    <div class="gray-bar-large">
      <h2>Registro de Funcionários</h2>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="8">
    <mat-dialog-content>
      <form [formGroup]="formRegisterEmployees">
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input [(ngModel)]="data.cpf" matInput formControlName="cpf" placeholder="CPF" required />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Nome</mat-label>
          <input [(ngModel)]="data.name" matInput formControlName="name" placeholder="Nome" required />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Rua de enredeço</mat-label>
          <input [(ngModel)]="data.street" matInput formControlName="street" placeholder="Rua" required />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Número de endereço</mat-label>
          <input [(ngModel)]="data.number" matInput formControlName="number" placeholder="Número" required />
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Bairro de endereço</mat-label>
          <input [(ngModel)]="data.district" matInput formControlName="district" placeholder="Bairro" required />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Cidade de enredeço</mat-label>
          <input [(ngModel)]="data.city" matInput formControlName="city" placeholder="Cidade" required />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Telefone</mat-label>
          <input [(ngModel)]="data.phone" matInput formControlName="phone" placeholder="Telefone" required />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Cargo</mat-label>
          <input [(ngModel)]="data.role" matInput formControlName="role" placeholder="Cargo" required />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Data de Admissão</mat-label>
          <input [(ngModel)]="data.admissionDate" matInput [matDatepicker]="pickAdmissionDate"
            formControlName="admissionDate" placeholder="Data de Admissão" required />
          <mat-datepicker-toggle matSuffix [for]="pickAdmissionDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickAdmissionDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Data de Nascimento</mat-label>
          <input [(ngModel)]="data.birthDate" matInput [matDatepicker]="pickBornDate" formControlName="birthDate"
            placeholder="Data de Nascimento" required />
          <mat-datepicker-toggle matSuffix [for]="pickBornDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickBornDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Salário</mat-label>
          <input [(ngModel)]="data.salary" matInput currencyMask formControlName="salary" placeholder="0"
            [options]="{ prefix: '', thousands: '', decimal: '.' }" required />
          <span matPrefix>R$&nbsp;</span>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Terceirizado?</mat-label>
          <mat-select #selectIsOutSource formControlName="isOutsource" required>
            <mat-option value="option1">Sim</mat-option>
            <mat-option value="option2">Não</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-dialog-content>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-dialog-actions align="end">
      <button *ngIf="!isEditting" mat-button (click)="sendEmployee(false)" type="submit"
        [disabled]="!formRegisterEmployees.valid">
        Registrar
      </button>
      <button *ngIf="isEditting" mat-button (click)="sendEmployee(true)" type="submit"
        [disabled]="!formRegisterEmployees.valid">
        Atualizar
      </button>
    </mat-dialog-actions>
  </mat-grid-tile>
</mat-grid-list>