mat-grid-list {
    margin-top: 5px;
    width: 1200px;
    height: 700px;
}

.gray-bar-large {
    background: #E9E9E9;
    height: 3.5rem;
    border: 1px solid #848684;
}

h2 {
    font-size: 28px;
    line-height: 33px;

    letter-spacing: -0.010em;

    color: #848684;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    font-weight: 500;
    font-size: 20px;
    
    color: #848684;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.headers-align {
    margin-left: 8px;
}

mat-form-field {
    margin-left: 8px;
}

button {
    width: 130px;
    height: 52px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;

    color: #FFFFFF;
}

button.cancel {
    background: #FA4B4B;
}

button.confirm {
    background: #00DD31;
}