<mat-grid-list cols="4" rowHeight="4rem">
    <mat-grid-tile mat-dialog-title [colspan]="4" [rowspan]="1">
        <div class="gray-bar-large">
            <h2>Registro de Compras</h2>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="8">
        <mat-dialog-content>
            <mat-accordion class="header-align">
                <div *ngFor="let product of data; index as i, last as isLast">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Nome do Produto</mat-panel-title>
                            <mat-panel-description>{{product.productName}}</mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field appearance="outline">
                            <mat-label>Fornecedor</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Lote do produto</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Preço Unitário</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </mat-dialog-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-dialog-actions align="end">
            <button mat-button class="cancel" mat-dialog-close>Cancelar</button>
            <button mat-button class="confirm" (click)="addPurchase()" [mat-dialog-close]="true"
                cdkFocusInitial>Confirmar</button>
        </mat-dialog-actions>
    </mat-grid-tile>
</mat-grid-list>