<div class="container background-muted">
  <div class="content-container">

    <mat-tab-group *ngIf="userRole==='Caixa'" [selectedIndex]="selected">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <div *ngIf="selected==0">
          <rp-open-desk [index]="selected" (indexChanged)="changeIndex($event)"></rp-open-desk>
        </div>
        <div *ngIf="selected==1">
          <rp-choose-desk [index]="selected" (indexChanged)="changeIndex($event)" (orderCreated)="setOrder($event)">
          </rp-choose-desk>
        </div>
        <div *ngIf="selected==2">
          <rp-create-order [index]="selected" [createdOrder]="createdOrder" [orderToUpdate]="orderToUpdate"
            (indexChanged)="changeIndex($event)"></rp-create-order>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>