<div class="container">
  <div class="content-container">
    <mat-grid-list cols="3" rowHeight="75px">
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <p class="header">{{selectedDate | date : 'longDate' : '': 'pt-BR'}}</p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <p class="header">Pedidos Concluídos {{concludedOrders.length}}</p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="8">
        <mat-selection-list #item [multiple]="false">
          <mat-list-option *ngFor="let order of concludedOrders" [value]="order">
            <div mat-line>
              <p>{{order.deskDescription}} Concluído as {{order.endHour}}</p>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>