.container {
    display: grid;
    align-items: start;
    justify-items: center;
    border: 1px solid #848684;
    box-sizing: border-box;

    height: 99%;
    width: 99%;
}

.content-container {
    width: 90%;

    padding: 1.2em;
    max-height: 95%;
}

P {
    font-weight: 600;
    font-size: 18px;
    width: 7%;

    color: #848684;
}

p.header {
    padding: 16px;
    border-radius: 16px;
    background: #EEF5F8;
    width: fit-content;
}

.mat-grid-tile {
    border-radius: 16px;
}

mat-select {
    font-size: 17px;
    line-height: 33px;
}

mat-list-option {
    background: #FFFFFF;
    border: 1px solid #848684;
    box-sizing: border-box;
    border-radius: 8px;
}

mat-list-option:hover {
    background: #FFFFFF;
    border: 1px solid #278DF6;
    box-sizing: border-box;
    border-radius: 8px;
}

mat-selection-list {
    max-height: 36rem;
    overflow: auto;
}

div.mat-line {
    display: flex !important;
}

button {
    width: 10%;
    height: 95%;
    font-weight: 900;
    font-size: 18px;

    border-radius: 16px;

    color: #FFFFFF;
}

button.edit {
    background: #278DF6;
    margin-left: 68%;
}

button.finish {
    background: #01DC34;
    margin-left: 1%;
}