<div class="gray-top-bar" mat-dialog-title></div>
<div mat-dialog-content>
  <p class="payement-way">Forma de Pagamento</p>
  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="payementForm">
    <mat-radio-button class="example-radio-button" *ngFor="let payement of payements" [value]="payement">
      {{ payement }}
    </mat-radio-button>
  </mat-radio-group>
  <p class="order">Pedido:</p>
  <span #item *ngFor="let item of data; let i = index">
    <p class="item">
      {{ item.description }}: R$ {{ item.price }}
    </p>
    <p class="item-quantity">Qtd.{{item.itemQuantity}}</p>
  </span>
  <section>
    <mat-checkbox [checked]="clientOptToNotPay" (change)="changeCheck()" class="total">
      Cliente optou por não pagar a taxa de 10%
    </mat-checkbox>
  </section>
  <p class="total">Valor adicional: R$ {{ additionalValue | number:'1.2-2' }}</p>
  <p class="total">Valor total: R$ {{ totalValue | number:'1.2-2' }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="addGain()" cdkFocusInitial>
    Efetuar Pagamento
  </button>
</div>