<mat-grid-list cols="4" rowHeight="4rem">
  <mat-grid-tile mat-dialog-title [colspan]="4" [rowspan]="1">
    <div class="gray-bar-large">
      <h2>Registro de Itens no Cardápio</h2>
    </div>
  </mat-grid-tile>
  <mat-dialog-content>
    <form [formGroup]="formRegisterItems">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="descricao" placeholder="Descrição do Item" required />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Pesquisar no Cardápio</mat-label>
          <input type="text" placeholder="Selecione um produto" aria-label="Number" matInput
            [formControl]="createMenuItemControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='setProduct($event.option.value)'>
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
              {{product}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="6">
        <mat-selection-list #product [multiple]="false">
          <mat-list-option *ngFor="let product of selectedProducts" [value]="product">
            <rp-product-listitem [product]="product" (lessQuantity)="lessQuantity($event)"
              (sumQuantity)="sumQuantity($event)"></rp-product-listitem>
          </mat-list-option>
        </mat-selection-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="outline">
          <mat-label>Preço</mat-label>
          <input matInput currencyMask formControlName="preco" placeholder="0"
            [options]="{ prefix: '', thousands: '', decimal: '.' }" required />
          <span matPrefix>R$&nbsp;</span>
        </mat-form-field>
      </mat-grid-tile>
    </form>
  </mat-dialog-content>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-dialog-actions align="end">
      <button mat-button (click)="addItem()" type="submit" [disabled]="!formRegisterItems.valid">
        Registrar
      </button>
    </mat-dialog-actions>
  </mat-grid-tile>
</mat-grid-list>