<mat-grid-list cols="3" rowHeight="68px">
    <mat-grid-tile class="gray-background" [colspan]="3" [rowspan]="1">
        <h2>Caixa</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="9">
        <button mat-icon-button (click)="openDesk()">
            <mat-icon svgIcon="door-open">
            </mat-icon>
            <p>Abrir mesa</p>
        </button>
        <button mat-icon-button class="button-open-orders" (click)="openActiveOrders()">
            <mat-icon svgIcon="shopping-cart">
            </mat-icon>
            <p>Pedidos</p>
        </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1"> </mat-grid-tile>
</mat-grid-list>