<div class="container background-muted">
  <div class="content-container">
    <mat-grid-list cols="4" rowHeight="68px">
      <mat-grid-tile [colspan]="4" [rowspan]="2">
        <rp-top-bar (openDialog)="openDialog(false)"></rp-top-bar>
        <h2>Estoque atual</h2>
      </mat-grid-tile>
      <mat-grid-tile class="grid-tile-products" [colspan]="4" [rowspan]="9">
        <ul>
          <li *ngFor="let product of products" [ngClass]="{'itemSelected': product.selected}">
            <button mat-button class="b-container" (click)="product.selected = !product.selected">
              <p>
                {{product.name}}
              </p>
              <div class="align-center" mat-line>
                <p class="subtitle">Quantidade Atual:</p>
                <button mat-button class="quantitity-product-button">{{product.currentStock | number:'1.2-2'}}
                  {{product.measurementUnit}}</button>
              </div>
            </button>
          </li>
        </ul>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-button class="button-conclude" (click)="concludePurchase()">Concluir</button>
    <button mat-button class="button-editar" (click)="openDialog(true)">Editar</button>
    <button mat-button class="button-excluir" (click)="openExclusionDialog()">Excluir</button>
  </div>
</div>