<mat-grid-list cols="3" rowHeight="68px">
    <mat-grid-tile class="gray-background" [colspan]="3" [rowspan]="1">
        <h2>Abrir Mesa</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="9">
        <mat-form-field appearance="fill">
            <mat-label>Mesas disponíveis</mat-label>
            <mat-select #select [formControl]="desksControl" [(ngModel)]="selectedDesk">
                <mat-option *ngFor="let desk of desks" [value]="desk.name">
                    {{ desk.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="desksControl.hasError('required')">Por favor escolha uma mesa</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1"> </mat-grid-tile>
</mat-grid-list>
<button mat-button class="button-cancel" (click)="cancelAttendance()">Cancelar</button>
<button mat-button class="button-begin" (click)="initializeOrder()">Iniciar</button>