<div class="container background-muted">
    <div class="content-container">
        <mat-grid-list cols="3" rowHeight="68px">
            <mat-grid-tile class="gray-background" [colspan]="3" [rowspan]="1">
                <h2>Cozinha</h2>
            </mat-grid-tile>
            <mat-grid-tile class="grid-tile-orders" [colspan]="3" [rowspan]="10">
                <ul>
                    <li *ngFor="let order of clientOrders">
                        <div class="order-container">
                            <p>{{order.deskDescription}}</p>
                            <span *ngFor="let item of getItemInfo(order)">
                                <p class="description">{{item.description}}</p>
                                <p class="quantity">Qtd.{{item.quantity | number:'1.2-2'}}</p>
                            </span>
                            <button mat-button (click)="concludeOrderPreparing(order)">Feito</button>
                        </div>
                    </li>
                </ul>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>